{{left_sidebar_enabled,right_sidebar_enabled=False,('message' in globals())}}
{{extend 'layout.html'}}
<center>
{{if str(board_status)=="1":}}
<a id="my_link" href="{{=URL('alloff')}}"><img id="myImage" src="/Home_Lights/static/images/on.jpg" width="75" height="75" ></a>
{{else:}}
<a id="my_link" href="{{=URL('allon')}}"><img id="myImage" src="/Home_Lights/static/images/off.jpg" width="75" height="75" ></a>
{{pass}}
</center>
